* {
    box-sizing: border-box;
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.numbers {
    margin: 1px;
}
.operators {
    padding: 0;
}
button {
    width: 20px;
    height: 20px;
    margin: 1px;
}