.body {
    background-color: black;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    width: 140px;
    min-height: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid #8080806e;
    border-radius: 5%;
}
.numbers {
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
}
.operators {
    padding: 0;
    margin-left: 5px;
    display: flex;
    justify-content: space-evenly;
}
#equal {
    width: 80px;
}
#screen {
    padding: 10px;
    border: 1px solid #a09f9f;
    font-size: 2.5ch;
    background-color: #80808015;
    text-align: end;
}
button {
    width: 35px;
    height: 20px;
    margin: 1px;
}