body {
    padding: 0;
    margin: auto;
}

.header-background , .footer {
    background-color: #1F2937;
}

.header-background {
    padding-left: 40px;
    padding-top: 15px;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    padding-right: 40px;
    gap: 20px;
}

#listHeader {
    color: #F9FAF8;
    font-weight: 700;
    margin-right: auto;
    font-size: 20px;
}

.header-content {
    display: flex;
    height: 400px;
}
.message {
    background-color: #E5E7EB;
    padding: 40px;
    margin: auto;
}

#title {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 0;
    width: 400px;
}
a , #subtext {
    color: #E5E7EB;
    text-decoration: none;    
}
#buttonHeader {
    margin-bottom: 16px;
    border: 0;    
}
.image1 {
    background-color: #4b4b4b;
    margin-right: 40px;
    margin-left: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;  
    color: #E5E7EB;
}
button {
    background-color: #3882f6;
    border-radius: 5px;
    width: 90px;
    height: 25px;
    color: #E5E7EB;
    font-weight: 500;
}
.images {
    justify-content: center;
    gap: 30px;
    margin-top: 25px;
}
.images > li {
    border: 3px;
    border-color: #3882f6;
    background-color: #3882f6;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}
.subtext{
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
}
.subtext > li {
    width: 120px;
    text-align: justify;
    font-weight: 500;
    font-size: smaller;
    color: #9498a1;
    width: 115px;
    margin-left: 4px;
}
.quote {
    font-style: italic;
    color: #1F2937;
    font-size: 20px;
    text-align: start;
    margin: 40px;
}
.quote + p {
    text-align: end;
    font-weight: bold;
}
.boxSupport {
    display: flex;
    justify-content: center;
    padding: 40px;
}
.blueSquare {
    display: flex;
    background-color: #3882f6;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 60px;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    width: auto;
}
.blueSquare > div > p {
    color: #E5E7EB;
    font-size: small;
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
